In [1]:
import pandas as pd

df = pd.read_csv('comarcas_info.csv')

In [3]:
df

,Municipio,Unidade,Juiz
0,Água Branca,Vara Unica,Mathews Francisco Rodrigues de Souza do Amaral
1,Alagoa Grande,Vara Unica,Jose Jackson Guimaraes
2,Alagoa Nova,Vara Unica,Eronildo Jose Pereira
3,Alagoinha,Vara Unica,VAGO ()\nEm substituição:\nPeríodo: de 31/12/1...
4,Alhandra,Vara Unica,Daniere Ferreira de Souza
...,...,...,...
285,Sousa,3ª Vara Mista,VAGO
286,Sousa,4ª Vara Mista,Agilio Tomaz Marques
287,Sousa,5ª Vara Mista,Natan Figueredo Oliveira
288,Sousa,6ª Vara Mista,Bernardo Antonio da Silva Lacerda
289,Sousa,7ª Vara Mista,Hugo Gomes Zaher

In [2]:
df_sousa = df[df['Municipio'] == 'Sousa']
df_sousa

,Municipio,Unidade,Juiz
280,Sousa,1º Juizado Auxiliar Misto da 4ª Circunscricao,VAGO
281,Sousa,1º Juizado Especial Misto,VAGO
282,Sousa,2º Juizado Especial Misto,VAGO
283,Sousa,1ª Vara Mista,Jose Normando Fernandes
284,Sousa,2ª Vara Mista,Caroline Silvestrini de Campos Rocha
285,Sousa,3ª Vara Mista,VAGO
286,Sousa,4ª Vara Mista,Agilio Tomaz Marques
287,Sousa,5ª Vara Mista,Natan Figueredo Oliveira
288,Sousa,6ª Vara Mista,Bernardo Antonio da Silva Lacerda
289,Sousa,7ª Vara Mista,Hugo Gomes Zaher

In [4]:
df[df['Municipio'] == 'Patos']

,Municipio,Unidade,Juiz
263,Patos,1º Juizado Auxiliar Misto da 3ª Circunscricao,Diego Garcia Oliveira
264,Patos,2º Juizado Auxiliar Misto da 3ª Circunscricao,Joao Lucas Souto Gil Messias
265,Patos,1º Juizado Especial Misto,Bruno Medrado dos Santos
266,Patos,2º Juizado Especial Misto,Jose Milton Barros de Araujo Vita
267,Patos,1ª Vara Mista,Isabella Joseanne Assuncao Lopes Andrade de Souza
268,Patos,2ª Vara Mista,Janete Oliveira Ferreira Rangel
269,Patos,3ª Vara Mista,VAGO
270,Patos,4ª Vara Mista,Vanessa Moura Pereira de Cavalcante
271,Patos,5ª Vara Mista,Luiz Gonzaga Pereira de Melo Filho
272,Patos,6ª Vara Mista,Anna Maria do Socorro Hilario Lacerda
273,Patos,7ª Vara Mista,Joscileide Ferreira de Lira

In [7]:
df['Municipio'].unique()

array(['Água Branca', 'Alagoa Grande', 'Alagoa Nova', 'Alagoinha',
       'Alhandra', 'Araruna', 'Areia', 'Bananeiras', 'Belém', 'Boqueirão',
       'Caaporã', 'Cajazeiras', 'Catolé do Rocha', 'Conceição', 'Conde',
       'Coremas', 'Cuité', 'Esperança', 'Gurinhém', 'Ingá', 'Itabaiana',
       'Itaporanga', 'Jacaraú', 'Juazeirinho', 'Mamanguape', 'Monteiro',
       'Pedras de Fogo', 'Piancó', 'Picuí', 'Pocinhos', 'Pombal',
       'Princesa Isabel', 'Queimadas', 'Remígio', 'Rio Tinto',
       'Santa Luzia', 'São Bento', 'São João do Rio do Peixe',
       'São José de Piranhas', 'Sapé', 'Serra Branca', 'Solânea',
       'Soledade', 'Sumé', 'Taperoá', 'Teixeira', 'Umbuzeiro', 'Bayeux',
       'Cabedelo', 'Campina Grande', 'Guarabira', 'João Pessoa', 'Patos',
       'Santa Rita', 'Sousa'], dtype=object)

In [2]:
df['Juiz'] = df['Juiz'].str.replace(r'\n', '', regex=True)

In [3]:
df['Juiz'].value_counts()

Juiz
VAGO                                                                   56
VAGO ()Em substituição:Período: de 31/12/1969 ate data não definida    13
Jose Jackson Guimaraes                                                  1
Eronildo Jose Pereira                                                   1
Daniere Ferreira de Souza                                               1
                                                                       ..
Caroline Silvestrini de Campos Rocha                                    1
Agilio Tomaz Marques                                                    1
Natan Figueredo Oliveira                                                1
Bernardo Antonio da Silva Lacerda                                       1
Hugo Gomes Zaher                                                        1
Name: count, Length: 223, dtype: int64

In [4]:
df[df['Unidade'] == 'Vara Unica'].head(10)

,Municipio,Unidade,Juiz
0,Água Branca,Vara Unica,Mathews Francisco Rodrigues de Souza do Amaral
1,Alagoa Grande,Vara Unica,Jose Jackson Guimaraes
2,Alagoa Nova,Vara Unica,Eronildo Jose Pereira
3,Alagoinha,Vara Unica,VAGO ()Em substituição:Período: de 31/12/1969 ...
4,Alhandra,Vara Unica,Daniere Ferreira de Souza
7,Areia,Vara Unica,Alessandra Varandas Paiva Madruga de Oliveira ...
8,Bananeiras,Vara Unica,Jailson Shizue Suassuna
9,Belém,Vara Unica,VAGO ()Em substituição:Período: de 31/12/1969 ...
10,Boqueirão,Vara Unica,Ieda Maria Dantas ()Em substituição:Período: d...
11,Caaporã,Vara Unica,VAGO

In [13]:
df.sort_values(by='Municipio')

,Municipio,Unidade,Juiz
1,Alagoa Grande,Vara Unica,Jose Jackson Guimaraes
2,Alagoa Nova,Vara Unica,Eronildo Jose Pereira
3,Alagoinha,Vara Unica,VAGO ()\nEm substituição:\nPeríodo: de 31/12/1...
4,Alhandra,Vara Unica,Daniere Ferreira de Souza
5,Araruna,1ª Vara Mista,Clara de Faria Queiroz
...,...,...,...
66,São João do Rio do Peixe,1ª Vara Mista,Kleyber Thiago Trovao Eulalio
76,Taperoá,Vara Unica,VAGO ()\nEm substituição:\nPeríodo: de 31/12/1...
77,Teixeira,Vara Unica,Carlos Gustavo Guimaraes Albergaria Barreto
78,Umbuzeiro,Vara Unica,Maria Carmen Heraclio do Rego Freire Farinha
0,Água Branca,Vara Unica,Mathews Francisco Rodrigues de Souza do Amaral